/* 1 */
/* round button */
/* .btn {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #555777;
  box-shadow: 0 0 3px gray;
  font-size: 20px;
  font-weight: bold;
}
.btn:hover {
  background: #777555;
} */
/* 2 */
/* .btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
/* Gray */
/* .default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}  */

/* 3 */
/* .btn {
  background-color: #2196f3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn:hover,
.dropdown:hover .btn {
  background-color: #0b7dda;
} */
